.meun-wrapper {

    .page-margin-wrapper {
        padding-left: 140px;

        .page-heading {
            position: absolute;

            h1 {
                font-weight: 500;
                font-size: 7vw;
            }
        }


        .page-header {
            margin-bottom: 80px;
            display: flex;
            align-items: center;
            position: relative;

            img {
                width: 100%;
                object-fit: cover;
                margin-left: 10rem;
                max-height: 7rem;
            }
        }

        .meun-table {
            display: flex;
            justify-content: space-between;
            padding-bottom: 7rem;

            .table-head {
                font-size: 20px;
                font-weight: 600;
                padding: 1rem;
            }

            .table-body {
                font-size: 16px;
                font-weight: 400;
                padding: 1rem;
            }

            .wide {
                max-width: 60%;
            }
        }

    }
}