@mixin alignItemcenter {
  display: flex;
  align-items: center;
}

@mixin logoStyle{
  width: 100px;
    height: auto;
    padding-left: 10px;
}

header {
  height: 5.25rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  height: 70px;
  nav {
    height: 100%;
  }
  .content {
    font-size: 12px;
    font-weight: 200;
    padding: 0.5rem;
  @include alignItemcenter;
  }

  .logo1 {
    @include logoStyle();
    content: url("../../assets/images/logo_simple.png");
  }
  
  .logo2 {
    @include logoStyle();
    content: url("../../assets/images/logo_full.png") ;
  }
}


// .Navbar.Collapse {
//   justify-content: space-between;
// }




