#left-header {
  // height: 44rem; //want to fix the screen height
  // width: 3rem;
  //overwrite the bootstrap defalut style
  position: sticky;
  float: left;
  background-color: #f8f8f8;


  .navbar-left {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 3rem 1rem;

    a {
      padding: 3rem 0;
      font-weight: 600;
      font-size: 24px;
      text-decoration: none;
      color: #141414;
      font-family: "Outfit", sans-serif;

      &:hover {
        color: darkgray;
      }
    }
  }
}